<h1>Billboards#show</h1>
<p>Find me in app/views/billboards/show.html.erb</p>
	<%= link_to 'Back', billboards_path %>
<p>billboard name: <%= @billboard.name %></p>
<% if @songs.any? %>
  <% @songs.each do |song| %>
    <p><%= song.name %></p>
     <%= link_to 'Remove From billboard', remove_billboard_song_path(@billboard, song), method: :delete %>
  <% end %>
<% end %>

<%= link_to 'Add song', new_billboard_song_path(@billboard) %> |
